@charset "utf-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

header {
	box-shadow: 0px 2px 2px #ccc;
	height: 50px;
}
h1{
	font-weight: bolder;
	margin: 0px;
	color: gray;
	font-size-adjust: inherit;
}

#conteudo {
	padding: 15px
}