<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
	<h:head>
	  <meta charset="UTF-8"/>
	  <title>Controle de Acesso</title>
	  <h:outputStylesheet library="ablsystem" name="estilo.css" />
	</h:head>

	<h:body>
	
		<f:metadata>
			<f:viewAction action="#{registroVisitanteBean.consultar}"/>
		</f:metadata>
	
		<h:form id="frm">
			
			<p:growl id="msgs-geral"/>
		
			<header>
				<p:panelGrid columns="1" layout="grid" style="padding: 1px;">
					<!-- <h:graphicImage library="ablsystem" name="logo-csc.png" style="width: 50px;"/> -->
					<h1>CONTROLE DE VISITANTES NA UNIDADE</h1>
				</p:panelGrid>
				
			</header>
			<div id="conteudo">
				<div style="text-align: center; margin-bottom: 15px;">
					<p:commandButton value="Novo visitante"
						action="#{registroVisitanteBean.novo()}"
						update="painel-dialogo" process="@this"
						onsuccess="PF('novoVisitanteDialog').show(); return false;">
							<p:resetInput target="novo-visitante-dialogo"/>
						</p:commandButton>
				</div>
				<p:dataGrid value="#{registroVisitanteBean.todosVisitantes}" var="visitante" emptyMessage=""
					columns="4" layout="grid" id="grid-visitantes">
					<p:panel header="#{visitante.nome}" style="text-align: center">
						<h:graphicImage value="/foto-visitante?visitante=#{visitante.id}" />
						<br/>Entrada: 
						<h:outputText value="#{visitante.dataVisita}">
							<f:convertDateTime pattern="HH:mm:ss"/>
						</h:outputText>
					</p:panel>
					
				</p:dataGrid>
			</div>
		
			<p:dialog widgetVar="novoVisitanteDialog" 
				header="Novo visitante" 
				resizable="false" 
				modal="true" id="novo-visitante-dialogo"
				dynamic="true">
				<h:panelGroup id="painel-dialogo">
					<p:messages id="msg-dialogo"/>
					<h:panelGrid columns="2">
						<h:panelGroup style="text-align: center;" layout="block" id="painel-foto">
							<p:photoCam widgetVar="camera" width="300" format="jpeg" 
								listener="#{fotoCameraBean.aoCapturarFoto}"
								update="painel-foto btn-registrar"
								rendered="#{not fotoCameraBean.fotoCapturada}"/>
							<p:commandLink value="Capturar foto" 
								rendered="#{not fotoCameraBean.fotoCapturada}" 
								onclick="PF('camera').capture(); return false;" />
							<p:graphicImage value="#{fotoCameraBean.fotoContent}" cache="false" 
								rendered="#{fotoCameraBean.fotoCapturada}"/>
						</h:panelGroup>
						
						<h:panelGrid columns="1" style="margin-left: 10px;">
							<p:outputLabel value="Nome" for="nome"/>
							<p:inputText size="30" id="nome" value="#{registroVisitanteBean.visitante.nome}"/>
							
							<p:outputLabel value="CPF" for="cpf"/>
							<p:inputMask size="14" mask="999.999.999-99" id="cpf" value="#{registroVisitanteBean.visitante.cpf}"/>
							
							<p:outputLabel value="Telefone celular" for="telefonecelular"/>
							<p:inputMask size="15" mask="(99) 99999-9999" id="telefonecelular" value="#{registroVisitanteBean.visitante.telefone}"/>
							
							<p:commandButton value="Registrar" icon="fa fa-save" 
								id="btn-registrar"
								update="painel-dialogo grid-visitantes"
								action="#{registroVisitanteBean.adicionar}"
								disabled="#{not fotoCameraBean.fotoCapturada}"/>
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGroup>
			</p:dialog>
		</h:form>
	</h:body>
</html>
